/* .loading-overlay {
    background-color: #eaeaea;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100px;
} */


.b-1 {
    font-size: 1rem;
}

.b-2 {
    font-size: 2rem;
}

.b-3 {
    font-size: 3rem;
}
